@font-face {
  font-family: 'Iransans';
  src: url("font/IRANSans-Medium-web.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-weight: 400; }

@font-face {
  font-family: 'mihan-theme-icons';
  src: url("../font/fonticon/font/fontello.eot?82035505");
  src: url("../font/fonticon/font/fontello.eot?82035505#iefix") format("embedded-opentype"), url("../font/fonticon/font/fontello.svg?82035505#fontello") format("svg"), url("../font/fonticon/font/fontello.woff?82035505") format("woff");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'mihan-theme-icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em; }

.blog h2 {
  font-size: 17px; }

p {
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.8; }

.icon-search:before {
  content: '\e800'; }

.icon-angle-down:before {
  content: '\e801'; }

.icon-angle-left:before {
  content: '\e802'; }

.icon-angle-right:before {
  content: '\e803'; }

.icon-angle-up:before {
  content: '\e804'; }

.icon-clock:before {
  content: '\e805'; }

.icon-pencil:before {
  content: '\e806'; }

.icon-rss:before {
  content: '\f09e'; }

.icon-info:before {
  content: '\f129'; }

body,
input,
textarea {
  background-color: #f2f2f2;
  direction: rtl;
  font-family: 'Mihan-Iransans', tahoma, arial; }

body,
ul,
a,
div,
h1,
h2,
h3 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  transition: 300ms ease-out;
  transition-property: opacity, background-color, color; }
  a:hover {
    color: #f4793d; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px; }

.header {
  background-color: #363636;
  padding: 20px 0; }
  .header .right-action {
    display: inline-block;
    width: 66%; }
  .header .menu {
    display: inline-block; }
  .header .menu-item {
    padding-right: 60px;
    font-size: 12px; }
    .header .menu-item:first-child {
      padding-right: 0; }
    .header .menu-item .menu-item-link {
      color: #fff; }
      .header .menu-item .menu-item-link:hover {
        color: #f4793d; }
  .header .logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px; }
    .header .logo a {
      display: inline-block; }
    .header .logo img {
      width: 100%; }
  .header .search-wrapper {
    position: relative;
    display: inline-block;
    width: 33%; }
    .header .search-wrapper .keyword {
      padding: 5px 10px 5px 29px;
      border-radius: 3px;
      border: 0 none;
      width: 100%;
      background: rgba(255, 255, 255, 0.9);
      box-sizing: border-box; }
    .header .search-wrapper .search:before {
      left: 1px;
      top: 6px;
      position: absolute;
      color: #000; }
    .header .search-wrapper .search input {
      left: 1px;
      top: 3px;
      cursor: pointer;
      position: absolute;
      border: 0 none;
      background: transparent; }

.container {
  width: 67%;
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
  box-sizing: border-box;
  max-width: 100%; }
  .container img {
    max-width: 100%; }

.content {
  padding: 55px 20px; }

.share-post .social-icons {
  display: inline-block;
  opacity: 0;
  transition: opacity 300ms ease-out;
  position: relative;
  z-index: -1; }
  .share-post .social-icons li {
    display: inline-block; }
  .share-post .social-icons.show {
    z-index: 2;
    display: inline-block;
    opacity: 1; }

.share-post .share-text {
  font-size: 12px;
  cursor: pointer; }

.post-header a {
  font-size: 22px; }

.container .post {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  margin-bottom: 45px; }

.container .post-header a {
  color: #3c3c3c; }
  .container .post-header a:hover {
    color: #f4793d; }

.container .post-image {
  max-height: 400px;
  overflow: hidden; }
  .container .post-image a {
    display: inline-block; }
  .container .post-image img {
    max-width: 100%; }

.container .post-meta span {
  padding-left: 20px;
  display: inline-block; }
  .container .post-meta span:last-child {
    padding-left: 0; }

.container .post-meta a {
  color: #c1c0c0;
  font-size: 11px; }
  .container .post-meta a:hover {
    color: #f4793d; }

.container .post-content {
  padding: 30px 25px; }

.main-content {
  color: #636467;
  margin-bottom: 25px; }

.readmore a {
  background-color: #f4793d;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  padding: 7px 17px; }
  .readmore a:hover {
    background-color: #f0580e; }

.sidebar-wrapper {
  width: 32%;
  display: inline-block; }
  .sidebar-wrapper .section {
    padding: 50px 30px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #e3e3e3; }

.sidebar p {
  color: #9a9a9a; }

.weblog-name {
  margin-bottom: 20px; }

.widget {
  margin-bottom: 45px; }
  .widget .widget-title {
    font-size: 13px;
    margin-bottom: 10px; }
  .widget .number {
    float: left; }
  .widget .cat-item {
    font-size: 12px;
    border-bottom: 1px solid #ededed; }
    .widget .cat-item.last {
      border-bottom: 0 none; }
    .widget .cat-item a {
      display: block;
      padding: 12px;
      color: #9a9a9a; }
      .widget .cat-item a:hover {
        background-color: #ededed;
        color: #f4793d; }

.widget-about {
  text-align: center; }
  .widget-about .about-text {
    margin: 0; }
  .widget-about .author-image img {
    border-radius: 50%;
    width: auto !important; }

.widget-recent-post a {
  display: block;
  color: #9a9a9a; }

.widget-recent-post .post {
  border: 0 none;
  margin-bottom: 5px; }

.widget-recent-post .post-image {
  padding-left: 20px;
  box-sizing: border-box;
  max-width: 20%;
  display: inline-block;
  vertical-align: top; }

.widget-recent-post .post-content {
  font-size: 11px;
  vertical-align: top;
  border-bottom: 1px solid #ededed;
  padding: 8px 0; }

.tag-wrapper a {
  display: inline-block;
  padding: 10px 0 0px 20px;
  color: #8e8d8d; }
  .tag-wrapper a:hover {
    color: #f4793d; }

.comment_title_stable {
  margin-bottom: 20px; }

.comment_list {
  border-top: 1px solid #e9e9e9;
  padding-top: 25px; }

.comment_date {
  font-size: 11px;
  color: #9a9a9a; }

.comment_sender {
  line-height: 1; }
  .comment_sender > a {
    display: block; }

.comment_row {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #ededed;
  border-radius: 3px; }

.comment_list_body {
  margin-top: 14px; }

.comment_form_wrapp {
  margin-top: 60px; }

.comment_body {
  font-size: 13px; }

.comment_form .comment_form_row {
  margin-bottom: 15px; }
  .comment_form .comment_form_row #showsmile {
    display: none; }
  .comment_form .comment_form_row input,
  .comment_form .comment_form_row textarea {
    border: none;
    background: #fdfdfd;
    border: 1px solid #ededed;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px; }
  .comment_form .comment_form_row input[type="checkbox"] {
    width: auto; }
  .comment_form .comment_form_row label {
    width: auto;
    font-size: 12px;
    float: none; }

.comment_form .msgtitle,
.comment_form .msgbody {
  display: block;
  float: none;
  width: auto; }

.comment_form div.controls {
  text-align: right; }
  .comment_form div.controls .btn {
    font-family: 'Mihan-Iransans', tahoma, arial;
    background-color: #f4793d;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    padding: 7px 17px;
    border: 0 none; }
    .comment_form div.controls .btn:hover {
      background-color: #f0580e; }

.footer {
  text-align: center;
  padding: 25px 0;
  background-color: #303030; }
  .footer .copy-right {
    color: #707070;
    font-weight: bold;
    font-size: 12px; }
    .footer .copy-right a {
      color: #707070; }
      .footer .copy-right a:hover {
        color: #f4793d; }

@media (min-width: 0) and (max-width: 750px) {
  .container {
    width: 100%;
    padding-left: 0;
    padding-top: 235px; }
  .section.weblog-name {
    position: absolute;
    top: 1%;
    width: 92%; }
  .content {
    position: relative; }
  .sidebar-wrapper {
    width: 100%; }
  .header {
    text-align: center; }
    .header .logo {
      display: block;
      margin-left: 0; }
    .header .right-action {
      display: block;
      width: 100%; }
    .header .menu {
      padding: 10px 0; }
    .header .search-wrapper {
      float: none;
      width: 90%; }
      .header .search-wrapper input {
        width: 100%;
        box-sizing: border-box; } }
