@font-face {
  font-family: 'Iransans';
  src: url("font/IRANSans-Medium-web.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-weight: 400; }

.blog h2 {
  font-size: 17px; }

p {
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.8; }

body {
  background-color: #f2f2f2;
  direction: rtl;
  font-family: 'Iransans'; }

body,
ul,
a,
div,
h1,
h2,
h3 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  transition: 300ms ease-out;
  transition-property: opacity, background-color, color; }
  a:hover {
    color: #f4793d; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.wrapper {
  width: 1170px;
  margin: 0 auto; }

.header {
  background-color: #363636;
  padding: 20px 0; }
  .header .menu {
    display: inline-block; }
  .header .menu-item {
    padding-right: 60px;
    font-size: 12px; }
    .header .menu-item:first-child {
      padding-right: 0; }
    .header .menu-item .menu-item-link {
      color: #fff; }
      .header .menu-item .menu-item-link:hover {
        color: #f4793d; }
  .header .logo {
    display: inline-block; }
    .header .logo a {
      max-width: 70%;
      display: inline-block; }
    .header .logo img {
      width: 100%; }

.container {
  width: 67%;
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
  box-sizing: border-box; }

.content {
  padding: 55px 0; }

.container .post {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  margin-bottom: 45px; }

.container .post-header a {
  color: #3c3c3c; }
  .container .post-header a:hover {
    color: #f4793d; }

.container .post-image {
  max-height: 400px;
  overflow: hidden; }
  .container .post-image a {
    display: inline-block; }
  .container .post-image img {
    max-width: 100%; }

.container .post-meta span {
  padding-left: 20px;
  display: inline-block; }
  .container .post-meta span:last-child {
    padding-left: 0; }

.container .post-meta a {
  color: #c1c0c0;
  font-size: 11px; }
  .container .post-meta a:hover {
    color: #f4793d; }

.container .post-content {
  padding: 45px 50px; }

.main-content {
  color: #636467; }

.readmore a {
  background-color: #f4793d;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  padding: 7px 17px; }
  .readmore a:hover {
    background-color: #f0580e; }

.sidebar {
  width: 32%;
  background-color: #fff;
  display: inline-block;
  padding: 50px 30px;
  box-sizing: border-box; }
  .sidebar p {
    color: #9a9a9a; }

.widget {
  margin-bottom: 45px; }
  .widget .widget-title {
    font-size: 13px;
    margin-bottom: 10px; }

.widget-about {
  text-align: center; }
  .widget-about .about-text {
    margin: 0; }
  .widget-about .image img {
    border-radius: 50%; }

.widget-cat .cat-item {
  font-size: 12px;
  border-bottom: 1px solid #ededed; }
  .widget-cat .cat-item a {
    display: block;
    padding: 12px;
    color: #9a9a9a; }
    .widget-cat .cat-item a:hover {
      background-color: #ededed;
      color: #f4793d; }

.widget-cat .number {
  float: left; }

.widget-recent-post a {
  display: inline-block;
  color: #9a9a9a; }
  .widget-recent-post a:hover {
    color: #f4793d; }

.widget-recent-post .post {
  border: 0 none;
  margin-bottom: 5px; }

.widget-recent-post .post-image {
  padding-left: 20px;
  box-sizing: border-box;
  max-width: 20%;
  display: inline-block;
  vertical-align: top; }

.widget-recent-post .post-content {
  font-size: 11px;
  display: inline-block;
  vertical-align: top;
  max-width: 75%; }

.tag-wrapper a {
  display: inline-block;
  padding: 3px 11px;
  margin: 0 0 10px 10px;
  color: #fff;
  font-size: 10px;
  background-color: #ababab;
  border-radius: 3px; }
  .tag-wrapper a:hover {
    color: #f4793d;
    background-color: #d1d1d1; }
