@import "variables";
@import "typography";
@import "icon";


body,
input,
textarea {
	background-color: $theme_bg_color;
	direction: rtl;
	font-family: 'Iransans';
}

body,
ul,
a,
div,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	transition: 300ms ease-out;
	transition-property: opacity, background-color, color;

	&:hover {
		color: $primary-color;
	}
}

.clearfix:before,
.clearfix:after {
  	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
}


// Header CSS

.header {
	background-color: #363636;
	padding: 20px 0;

	.menu {
		display: inline-block;
	}

	.menu-item {
		padding-right: 60px;
		font-size: 12px;

		&:first-child {
			padding-right: 0;
		}

		.menu-item-link {
			color: $light-color;

			&:hover {
				color: $primary-color;
			}
		}
	}

	.logo {
		display: inline-block;
		// width: 13%;
		vertical-align: middle;
		margin-left: 30px;

		a {
			// max-width: 70%;
			display: inline-block;
		}

		img {
			width: 100%;
		}
	}
	.search-wrapper {
		float: left;
		position: relative;

		.keyword {
		    padding: 10px;
		    border-radius: 3px;
		    border: 0 none;
		}

		.search {

			&:before {
				left: 1px;
				top: 6px;
				position: absolute;
				// z-index: 1;
				color: #000;
			}

			input {
				left: 1px;
				top: 3px;
				cursor: pointer;
				position: absolute;
				border: 0 none;
				// z-index: 2;
				background: transparent;
			}
		}
	}
}


// Container CSS

.container {
    width: 67%;
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    box-sizing: border-box;
    max-width: 100%;

    img {
    	max-width: 100%;
    }
}

.content {
	padding: 55px 20px;
}


// Post CSS

.container {
	.post {
		background-color: #fff;
		border: 1px solid darken($theme_bg_color, 6%);
		margin-bottom: 45px;
	}

	.post-header {

		a {
			color:#3c3c3c;

			&:hover {
				color: $primary-color;
			}
		}
	}

	.post-image {
		max-height: 400px;
		overflow: hidden;

		a {
			display: inline-block;
		}

		img {
			max-width: 100%;
			// display: block;
		}
	}

	.post-meta {

		span {
			padding-left: 20px;
			display: inline-block;

			&:last-child {
				padding-left: 0;
			}
		}

		a {
			color: #c1c0c0;
			font-size: 11px;

			&:hover {
				color: $primary-color;
			}
		}
	}

	.post-content {
		padding: 45px 50px;
	}
}

.main-content {
	color: #636467;
	margin-bottom: 25px;
}

.readmore {

	a {
		background-color: $primary-color;
		border-radius: 3px;
		color: $light-color;
		font-size: 11px;
		padding: 7px 17px;

		&:hover {
			background-color: darken($primary-color, 10%);
		}
	}
}


// Sidebar CSS

.sidebar-wrapper {
	width: 32%;
    display: inline-block;

	.section {
	    padding: 50px 30px;
	    background-color: #fff;
	    box-sizing: border-box;
	    border: 1px solid #e3e3e3;
	}
}

.sidebar {

    p {
    	color: #9a9a9a;
    }
}

.weblog-name {
	margin-bottom: 20px;
}

.widget {
	margin-bottom: 45px;

	.widget-title {
		font-size: 13px;
		margin-bottom: 10px;
	}

	.number {
		float: left;
	}

	.cat-item {
		font-size: 12px;
		border-bottom: 1px solid darken($theme_bg_color, 2%);

		// &:last-child {
		// 	border-bottom: 0 none;
		// }

		&.last {
			border-bottom: 0 none;
		}

		a {
			display: block;
			padding: 12px;
    		color: #9a9a9a;

    		&:hover {
    			background-color: darken($theme_bg_color, 2%);
    			color: $primary-color;
    		}
		}
	}
}

.widget-about {
	text-align: center;

	.about-text {
		margin: 0;
	}

	.author-image img {
		border-radius: 50%;
		width: auto !important;
	}
}

.widget-recent-post {

	a {
		display: block;
    	color: #9a9a9a;

    	&:hover {
    		color: $primary-color;
    	}
	}

	.post {
		border: 0 none;
		margin-bottom: 5px;
	}

	.post-image {
		padding-left: 20px;
		box-sizing: border-box;
		max-width: 20%;
		display: inline-block;
		vertical-align: top;
	}

	.post-content {
		font-size: 11px;
		vertical-align: top;
	    border-bottom: 1px solid #ededed;
		padding: 8px 0;
		// display: inline-block;
		// max-width: 75%;
	}
}

.tag-wrapper {

	a {
		display: inline-block;
		padding: 3px 11px;
		margin: 0 0 10px 10px;
		color: #fff;
		font-size: 10px;
		background-color: #ababab;
		border-radius: 3px;

		&:hover {
			color: $primary-color;
			background-color: lighten(#ababab, 15%);
		}
	}
}
// 
//  Comment
// 
.comment_title_stable {
	margin-bottom: 20px;
}

.comment_list {
	border-top: 1px solid #e9e9e9;
    padding-top: 25px;
}

.comment_form {

	.comment_form_row {
		margin-bottom: 15px;

		#showsmile {
			display: none;
		}

		input,
		textarea {
			border: none;
		    background: #ededed;
		    padding: 10px;
		    box-sizing: border-box;
		    width: 90%;
		    border-radius: 3px;
		}

		input[type="checkbox"] {
			width: auto;
		}
		
		label {
			width: auto;
			display: block;
			font-size: 14px;
			float: none;
		}
	}

	.msgtitle,
	.msgbody {
		display: block;
		float: none;
		width: auto;
	}

	div.controls {
		text-align: right;

		.btn {
			font-family: 'Iransans';
			background-color: $primary-color;
			border-radius: 3px;
			color: $light-color;
			font-size: 11px;
			padding: 7px 17px;
			border: 0 none;

			&:hover {
				background-color: darken($primary-color, 10%);
			}
		}
	}	
}


// 
// Media Queries
 @media (min-width: 0) and (max-width: 750px) {
	.container {
		width: 100%;
		padding-left: 0;
		padding-top: 235px;
	}

	.section {

		&.weblog-name{
			position: absolute;
			top: 1%;
			width: 92%;
		}
	}

	.content {
		position: relative;
	}

	.sidebar-wrapper {
		width: 100%;
	}

	.header {
		text-align: center;

		.logo {
			display: block;
			margin-left: 0;
		}

		.menu {
			padding: 10px 0;
		}

		.search-wrapper {
			float: none;

			input {
				width: 100%;
				box-sizing: border-box;
			}
		}
	}
 }